@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary-green: #274f45;
  --color-accent-red: #e48872;
  --color-secondary-gray: #4b4a47;
  --color-secondary-black: #13141d;
  --color-accent-white: #fffdf8;

  /* Font Family */
  --font-lato: var(--font-lato);

  /* Breakpoints */
  --breakpoint-sm: 480px;
  --breakpoint-md: 576px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px;
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-lato;
}

/* Custom CSS */
.section_title {
  @apply text-[45px] text-primary-green mb-12;
}

.section_sub_title {
  @apply text-4xl text-secondary-black font-semibold mb-7;
}

.auth-primary-btn {
  @apply text-secondary-black bg-transparent px-14 font-semibold py-3 rounded-[6px] shadow border-2 border-secondary-black cursor-pointer hover:scale-95 duration-500 ease-in-out;
}

.auth-secondary-btn {
  @apply text-accent-white bg-primary-green px-4 py-3 rounded-[6px] shadow border-2 border-primary-green hover:scale-95 duration-500 ease-in-out cursor-pointer;
}

.auth-heading {
  @apply text-5xl font-semibold text-secondary-black mb-5;
}

.auth_title {
  @apply text-[#274F45] text-[40px] font-lato font-bold text-center;
}

.auth_description {
  @apply font-lato text-[18px] font-normal max-w-[350px] w-full mx-auto text-center;
}

.form-group {
  width: 100%;
}

.form-label {
  @apply text-[#4b4a47] block w-full;
}

.form-input {
  @apply w-full block mt-2 px-4 py-3 rounded-lg border-2 border-[#67645f];
}

/* For Swiper Slider */
.banner_swiper .swiper-pagination-bullet {
  @apply bg-white size-3.5 opacity-80;
}

.banner_swiper .swiper-pagination-bullet-active {
  @apply bg-primary-green scale-125 opacity-100;
}

.product_swiper .swiper-pagination-bullet {
  @apply bg-white size-3 opacity-80;
}

.product_swiper .swiper-pagination-bullet-active {
  @apply bg-primary-green scale-105 opacity-100;
}

.review_swiper .swiper-pagination-bullet {
  @apply bg-white size-2 opacity-80;
}

.review_swiper .swiper-pagination-bullet-active {
  @apply bg-primary-green scale-105 opacity-100;
}

.side-scrollbar::-webkit-scrollbar {
  display: none;
}

.product_img .swiper-button-prev::after,
.product_img .swiper-button-next::after {
  @apply text-primary-green;
}
