@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary-green: #274f45;
  --color-accent-red: #e48872;
  --color-secondary-gray: #4b4a47;
  --color-secondary-black: #13141d;
  --color-accent-white: #fffdf8;

  /* Font Family */
  --font-lato: var(--font-lato);

  /* Breakpoints */
  --breakpoint-sm: 480px;
  --breakpoint-md: 576px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px;
  --breakpoint-3xl: 1536px;
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-lato;
}

/* Custom CSS */

.section_title {
  @apply text-5xl text-primary-green mb-14;
}

.section_description {
  @apply text-base;
}

/* For Swiper Slider */
.banner_swiper .swiper-pagination-bullet {
  @apply bg-white size-3.5 opacity-80;
}

.banner_swiper .swiper-pagination-bullet-active {
  @apply bg-primary-green scale-125 opacity-100;
}
