@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary-green: #274f45;
  --color-light-green: #77978f;
  --color-accent-red: #e48872;
  --color-secondary-gray: #4b4a47;
  --color-secondary-black: #13141d;
  --color-accent-white: #fffdf8;

  /* Font Family */
  --font-lato: var(--font-lato);

  /* Breakpoints */
  /* --breakpoint-sm: 480px;
  --breakpoint-md: 576px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px; */
  --breakpoint-xxs: 350px;
  --breakpoint-xs: 400px;
  --breakpoint-1xl: 1200px;
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-lato;
}

/* Custom CSS */
.section_title {
  @apply text-2xl  md:text-3xl  lg:text-4xl xl:text-[45px] text-primary-green  mb-12;
}

.section_sub_title {
  @apply text-2xl lg:text-4xl text-secondary-black font-semibold mb-3.5 md:mb-7;
}

.auth-primary-btn {
  @apply text-secondary-black bg-transparent px-14 font-semibold py-3 rounded-[6px] shadow border-2 border-secondary-black cursor-pointer hover:scale-95 duration-500 ease-in-out;
}

.primary_btn {
  @apply block w-full py-1.5 md:py-3 bg-primary-green text-accent-white text-[14px] font-semibold md:text-[17px] duration-300 transition-all hover:scale-[0.97] rounded-lg shadow cursor-pointer hover:bg-transparent hover:text-primary-green border-2 border-primary-green text-center;
}

.auth-secondary-btn {
  @apply text-accent-white bg-primary-green px-4 py-1.5 md:py-3 rounded-[6px] shadow border-2 border-primary-green hover:scale-95 duration-500 ease-in-out cursor-pointer;
}

.auth-heading {
  @apply text-xl sm:text-2xl  md:text-3xl  lg:text-4xl xl:text-5xl font-semibold text-secondary-black mb-5;
}

.auth_title {
  @apply text-[#274F45] text-[40px] font-lato font-bold text-center;
}

.auth_description {
  @apply font-lato text-[18px] font-normal max-w-[350px] w-full mx-auto text-center;
}

.form-group {
  width: 100%;
}

.form-label {
  @apply text-secondary-black block w-full font-semibold;
}

.form-input {
  @apply w-full block mt-2 px-2 md:px-4 py-1.5 md:py-2  lg:py-3 rounded-[5px] border md:border-2 border-[#67645f];
}

.form-error {
  @apply text-red-500 text-sm block mt-1.5;
}

/* For Swiper Slider */
.banner_swiper .swiper-pagination-bullet {
  @apply bg-white size-3.5 opacity-80;
}

.banner_swiper .swiper-pagination-bullet-active {
  @apply bg-primary-green scale-125 opacity-100;
}
.product_swiper .swiper-pagination-bullet {
  @apply bg-white size-3 opacity-80;
}

.product_swiper .swiper-pagination-bullet-active {
  @apply bg-primary-green scale-105 opacity-100;
}

.review_swiper .swiper-pagination-bullet {
  @apply bg-white size-2 opacity-90;
}

.review_swiper .swiper-pagination-bullet-active {
  @apply bg-primary-green scale-105 opacity-100;
}

.product_img .swiper-button-prev::after,
.product_img .swiper-button-next::after {
  @apply text-primary-green;
}

/* For Custom Scrollbar */
.side-scrollbar::-webkit-scrollbar {
  display: none;
}

.notification_container {
  scrollbar-width: thin;
}

option:hover {
  background: #d4e2cb !important;
}

.scroll-to-top {
  right: 20px !important;
  bottom: 20px !important;
}

.chat-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #274f45;
}
